<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="sikuli-ide-path" value="C:/sikuli/runIDE.cmd" />
    <add key="dev-cmd-path" value="C:/Program Files (x86)/Microsoft Visual Studio 12.0/Common7/Tools/VsDevCmd.bat" />

    <add key="username" value="administrator" />
    <add key="password" value="administrator" />

    <add key="run-script-port" value="8878" />
    <add key="write-script-port" value="8870" />
    <add key="result-script-port" value="8887" />
    <add key="call-script-port" value="8889" />
    <add key="manual-script-port" value="8886" />
  </appSettings>
</configuration>