<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="clientCollection" type="System.Configuration.NameValueSectionHandler" />
    <section name="testTechnologies" type="System.Configuration.NameValueSectionHandler" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="run-script-port" value="8878" />
    <add key="write-script-port" value="8870" />
    <add key="result-script-port" value="8887" />
    <add key="call-script-port" value="8889" />
    <add key="manual-script-port" value="8886" />
  </appSettings>
  <clientCollection>
    <add key="ESTRIP_1" value="192.168.180.11" />
    <add key="ESTRIP_2" value="192.168.180.12" />
  </clientCollection>
  <testTechnologies>
    <!-- Key:Used in test suite xml file - Value:Name of Adaptor/Executor/Organizer -->
    <add key="Human" value="Manual" />
    <add key="Sikuli" value="Sikuli" />
    <add key="Sim" value="Sim" />
    <add key="UnitTest" value="UnitTest" />
  </testTechnologies>
  <unity>
    <typeAliases>
      <!-- Lifetime manager types -->
      <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity"/>
      <typeAlias alias="perresolve" type="Microsoft.Practices.Unity.PerResolveLifetimeManager, Microsoft.Practices.Unity"/>

      <!-- Custom object types -->
      <typeAlias alias="IOrganizer" type="TestEnvironment.Organizers.IOrganizer, TestEnvironment"/>
    </typeAliases>
    <containers>
      <container>
        <register mapTo="TestEnvironment.Organizers.SikuliOrganizer, Adaptors.SikuliAdaptor" name="SikuliOrganizer" type="IOrganizer">
          <lifetime type="singleton"/>
        </register>
        <register mapTo="TestEnvironment.Organizers.SimOrganizer, Adaptors.SimAdaptor" name="SimOrganizer" type="IOrganizer">
          <lifetime type="singleton"/>
        </register>
      </container>
    </containers>
  </unity>
</configuration>